#answer-container {
    background-color: #E0F2F1;
    display: grid;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#question {
    font-size: large;
}

#answer-name {
    font-size: large;
    font-weight: bold;
}

#answer {
    font-size: large;
}

#correct-answer-container {
    background-color: #C8E6C9;
    border-radius: 10px;
    padding: 5px;

    margin-bottom: 30px;
}

.answer-div{
    display: flex;
}

.answer-div>div{
    display: inline-block;
    padding-right: 5px;
}