.dialog {
    text-align: center;
    width: max-content;
}

.title{
    text-align: center;
    font-family: DynaPuff , sans-serif;
    font-size: xx-large;
}

mat-form-field {
    display: inline-block;
}

.form {
    margin-top: 15px;
    width: 650px;
}

textarea {
    height: 100px;
}

.full-width {
    display: grid;
}

.mat-dialog-actions {
    float: right;
}