.info {
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 70px;
    margin-bottom: 50px;
    padding: 20px;
    background-color: #80CBC4;

    display: flex;
    justify-content: space-between;
}

.icon {
    transform: scale(1.5);
    vertical-align: middle;
}

.info-folder{
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

.info>div {
    font-size: x-large;
}

.info-folder>p {
    padding-right: 25px;
    margin: 0;
}

.decks {
    margin-left: 160px;
    margin-right: 160px;
    height: 620px;
    overflow: auto;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
}

a:active {
    color: black;
}