<div class="test">
    <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>

    <div class="container">

        <div class="flashcard">
            <span>Question</span>
        </div>

        <form class="form">
            <mat-form-field class="full-width">
                <mat-label>Odpowiedź </mat-label>
                <input matInput placeholder="Odpowiedź" name="Odpowiedź">
            </mat-form-field>
        </form>

        <div class="ok-button">
            <button mat-raised-button color="primary">OK</button>
        </div>
    </div>