<div class="test">
    <mat-progress-bar mode="determinate" value={{progressBarValue}}></mat-progress-bar>

    <div class="container">

        <div class="flashcard">
            <span>{{currentFlashcard}}</span>
        </div>

        <form class="form">
            <mat-form-field class="full-width">
                <mat-label>Odpowiedź </mat-label>
                <input matInput placeholder="Odpowiedź" [(ngModel)]="userAnswer" name="Odpowiedź" autofocus
                    id="answer-input">
            </mat-form-field>
        </form>

        <div class="ok-button" (click)="Next()">
            <button mat-raised-button color="primary">OK</button>
        </div>
    </div>
</div>