<div class="container">
    <div class="text">
        <h1>Pobieranie zestawu</h1>
        <p>Wklej kod do zestawu</p>
    </div>
    <div class="input-form">
        <form class="form">
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Kod do zestawu</mat-label>
                <input class="color-input" type="text" matInput [(ngModel)]="deckUser.deckId" name="deckId">
            </mat-form-field>
        </form>
    </div>
    <div class="buttons">
        <div mat-dialog-actions>
            <button mat-stroked-button color="primary" (click)="Close()">Anuluj</button>
            <button mat-raised-button (click)="Save()" color="primary">Ok</button>
        </div>
    </div>
</div>