<div class="container">
    <h1>Usuwanie zestawu</h1>
    <div id="add-new-deck">
        <div id="decks">
            <div id="user-decks" *ngFor="let singleDeck of decksInFolder">
                <app-deck-to-remove [deck]="singleDeck" [folderId]="data.folderId"></app-deck-to-remove>
            </div>
        </div>
    </div>
    <div>
        <div mat-dialog-actions>
            <button mat-stroked-button color="primary" (click)="CloseDialog()">Anuluj</button>
        </div>
    </div>
</div>