.container {
    text-align: center;
    height: 300px;
}

.container>h1 {
    margin-bottom: 30px;
    font-size: x-large;
}

#add-deck-button{
    font-size: large;
}

#decks {
    margin-top: 20px;
    width: 620px;
    height: 200px;
    overflow: auto;
}

.mat-dialog-actions {
    float: right;
}

app-existing-deck {
    margin-bottom: 30px;
}