.info {
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 70px;
    margin-bottom: 50px;
    padding: 20px;
    background-color: #80CBC4;
}

mat-icon {
    transform: scale(1.5);
    vertical-align: middle;
}
.info-folder{
    margin-bottom: 40px;
}

.info-folder>p {
    display: inline-block;
    padding-right: 25px;
    margin: 0;
}

.add-folder {
    float: right;
    vertical-align: middle;
}

.info>div {
    display: inline;
    font-size: x-large;
    justify-content: center;
}

.folders {
    margin-left: 160px;
    margin-right: 160px;
    height: 620px;
    overflow: auto;
}