<div>
    <mat-progress-bar mode="determinate" value={{progressBarValue}}></mat-progress-bar>

    <div class="container">
        <button class="flashcard-button" (click)="ReverseFlashcard()">
            <div id="flashcard">
                <span id="current-flashcard">{{currentFlashcard}}</span>
            </div>
        </button>
    </div>

    <div class="container">
        <div class="buttons">
            <button mat-icon-button>
                <mat-icon class="action-icon" (click)="Shuffle()">shuffle</mat-icon>
            </button>
            <div>
                <button mat-icon-button class="navigate-button" (click)="Previous()">
                    <mat-icon class="navigate-icon">navigate_before</mat-icon>
                </button>
                <span class="flashcard-number">{{flashcardNumber}}</span>
                <button mat-icon-button class="navigate-button" (click)="Next()">
                    <mat-icon class="navigate-icon">navigate_next</mat-icon>
                </button>
            </div>
            <button mat-icon-button (click)="openDialog()">
                <mat-icon class="action-icon">edit</mat-icon>
            </button>
        </div>
    </div>
</div>