<div>
    <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
    <div class="container">
        <div id="flashcard">
            <span>fiszka</span>
        </div>
    </div>
    <div class="container" >
        <div class="buttons">
            <button mat-icon-button>
                <mat-icon>shuffle</mat-icon>
            </button><button mat-icon-button>
                <mat-icon>navigate_before</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>navigate_next</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>edit</mat-icon>
            </button>
        </div>
    </div>
</div>