.flashcard {
    background-color: #E0F2F1;
    border-radius: 3px;
    margin-bottom: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flashcard-info {
    padding: 15px;
}

.question, .answer {
    font-weight: 500;
    font-size: x-large;
    min-width: 250px;
    display: inline-block;
}

.edit{
    padding-right: 15px;
}