<div class="container">
    <div class="welcone-div">
        <p>Witaj</p>
        <p>w aplikacji</p>
        <p id="app-title">Flashcards</p>
        <p id="login">Zaloguj się lub zarejestruj aby zacząć</p>
    </div>

    <div class="login-container">
        <div>
            <span class="span">Flashcards</span>
            <div class="tabs">
                <mat-tab-group mat-align-tabs="center" [(selectedIndex)]="selectedIndex">
                    <mat-tab label="Zaloguj się">
                        <form class="form">
                            <mat-form-field class="full-width" appearance="fill">
                                <mat-label>E-mail</mat-label>
                                <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                                    placeholder="E-mail" name="E-mail" [(ngModel)]="loginUser.email">
                                <mat-error
                                    *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                    Adres e-mail ma nipoprawną forme
                                </mat-error>
                                <mat-error *ngIf="emailFormControl.hasError('required')">
                                    Email is wymagany
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field class="full-width" appearance="fill">
                                <mat-label>Hasło</mat-label>
                                <input matInput placeholder="Hasło" name="Hasło" type="password"
                                    [(ngModel)]="loginUser.password">
                            </mat-form-field>
                        </form>
                        <button mat-raised-button color="primary" (click)="login(loginUser)">Zaloguj się</button>
                    </mat-tab>
                    <mat-tab label="Zarejestruj się">
                        <form class="form">
                            <mat-form-field class="full-width" appearance="fill">
                                <mat-label>E-mail</mat-label>
                                <input matInput placeholder="E-mail" name="E-mail" [(ngModel)]="registerUser.email"
                                    required="To pole jest wymagane">
                            </mat-form-field>
                            <mat-form-field class="full-width" appearance="fill">
                                <mat-label>Nazwa</mat-label>
                                <input matInput placeholder="Nazwa" name="Nazwa" [(ngModel)]="registerUser.name"
                                    required="To pole jest wymagane">
                            </mat-form-field>
                            <mat-form-field class="full-width" appearance="fill">
                                <mat-label>Hasło</mat-label>
                                <input matInput placeholder="Hasło" name="Hasło" type="password"
                                    [(ngModel)]="registerUser.password" required="To pole jest wymagane">
                            </mat-form-field>
                            <mat-form-field class="full-width" appearance="fill">
                                <mat-label>Powtórz Hasło</mat-label>
                                <input matInput placeholder="Powtórz Hasło" name="Powtórz Hasło" type="password"
                                    [(ngModel)]="registerUser.confirmPassword" required="To pole jest wymagane">
                            </mat-form-field>
                        </form>
                        <button mat-raised-button color="primary" (click)="register(registerUser)">
                            Zarejestruj się</button>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>