.container {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: centers;
    justify-content: center;
}

.welcone-div {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.welcone-div>p {
    font-size: 80px;
    padding: 20px;
}

.welcone-div>#login {
    font-size: 30px;
    padding: 20px;
}

#app-title {
    color: #00796B;
    font-size: 100px;
    padding: 60px 20px;
}

.login-container {
    width: 50%;
    text-align: center;
}

.span {
    font-size: xx-large;
}

.tabs {
    padding-top: 50px;
}

mat-form-field {
    display: block;
    margin-left: 100px;
    margin-right: 100px;
}