.folder {
    background-color: #E0F2F1;
    border-radius: 3px;
    margin-bottom: 15px;
}

.folder:hover{
    filter: brightness(85%);
}

.folder-info {
    padding: 15px;
}

.name {
    font-weight: 500;
    font-size: x-large;
    min-width: 250px;
    display: inline-block;
}

.amount {
    font-size: medium;
    min-width: 250px;
    display: inline-block;
}