.container {
    text-align: center;
    height: 300px;
}

.container>h1 {
    margin-bottom: 30px;
    font-size: x-large;
}

#add-deck-button {
    font-size: large;
    margin-bottom: 20px;
}

#decks {
    height: 200px;
    width: 500px;
    overflow: auto;
}

.data {
    padding: 2.5%;
    text-align: left;
}

.mat-dialog-actions {
    float: right;
}

app-existing-deck {
    margin-bottom: 30px;
}


::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #004D40 !important;
}