.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.welcone-div {
    margin-top: 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.welcone-div>p {
    font-size: 80px;
    padding: 30px;
}


#app-title{
    color: #00796B;
    font-size: 100px;
    padding: 60px 20px;
}