<div *ngIf="folder">
    <h2>{{ folder.name }}</h2>
    <div>
        Name:
        <input [(ngModel)] = "folder.name" placeholder="Name"/>
    </div>
    <div>
        Description:
        <input [(ngModel)] = "folder.description" placeholder="Description"/>
    </div>

    <button (click)="editFolder(folder)" *ngIf="folder.folderId">Update</button>
    <button (click)="deleteFolder(folder)" *ngIf="folder.folderId">Delete</button>
    <button (click)="addFolder(folder)" *ngIf="!folder.folderId">Add</button>

</div>