<div class="dialog">
    <h1>Nowy folder</h1>
    <form class="form">
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Nazwa </mat-label>
            <input matInput [(ngModel)]="data.folder.name" placeholder="Nazwa Folderu" name="Nazwa">
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Opis</mat-label>
            <textarea matInput [(ngModel)]="data.folder.description" placeholder="Opis..." name="Opis"></textarea>
        </mat-form-field>
    </form>

    <div>
        <div mat-dialog-actions>
            <button mat-stroked-button color="primary" (click)="CloseDialog()">Anuluj</button>
            <button mat-raised-button (click)="SaveFolder()" color="primary">Ok</button>
        </div>
    </div>
</div>